.wheel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  /* background-image: url("./wheel.png"); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
}

.segment {
  position: absolute;
  width: 100vw;
  height: 100vw;
}

.loading{
  position: relative;
  font-size: 5em;
  top: 50%;
  text-align: center;
}

.error {
  color:#ff3333;
}