body {
  margin: 0;
}

.container {
  position: relative;
  background-color: cadetblue;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.debug {
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 1px 1px #ccc;
}